USE [master]
GO
/****** Object:  Database [JiraDemo]    Script Date: 6/11/2023 22:34:36 ******/
CREATE DATABASE [JiraDemo]
GO
USE [JiraDemo]
GO
/****** Object:  Table [dbo].[atlassian_token]    Script Date: 6/11/2023 22:34:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atlassian_token](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [varchar](50) NULL,
	[cloud_id] [varchar](50) NULL,
	[access_token] [varchar](5000) NULL,
	[refress_token] [varchar](5000) NULL,
 CONSTRAINT [PK_access_token] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
