USE JiraDemo

SET IDENTITY_INSERT [dbo].[equipments] ON 

INSERT [dbo].[equipments] ([id], [cloud_id], [name], [quantity], [unit], [unit_price], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, N'ea48ddc7-ed56-4d60-9b55-02667724849d', N'Laptop', 0, N'piece', 169.42, CAST(N'2023-06-30T16:41:03.400' AS DateTime), NULL, NULL)
INSERT [dbo].[equipments] ([id], [cloud_id], [name], [quantity], [unit], [unit_price], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, N'ea48ddc7-ed56-4d60-9b55-02667724849d', N'Monitor', 18, N'piece', 169.42, CAST(N'2023-06-30T16:41:03.400' AS DateTime), NULL, NULL)
INSERT [dbo].[equipments] ([id], [cloud_id], [name], [quantity], [unit], [unit_price], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, N'ea48ddc7-ed56-4d60-9b55-02667724849d', N'Keyboard', 2, N'piece', 169.42, CAST(N'2023-06-30T16:41:03.400' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[equipments] OFF
GO
INSERT [dbo].[equipments_function] ([equipment_id], [function_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (1, 1, NULL, CAST(N'2023-06-30T19:24:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[equipments_function] ([equipment_id], [function_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (2, 1, NULL, CAST(N'2023-06-30T19:24:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[equipments_function] ([equipment_id], [function_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (3, 1, NULL, CAST(N'2023-06-30T19:24:00.000' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[function] ON 

INSERT [dbo].[function] ([id], [name], [cloud_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (1, N'Data Storage', N'ea48ddc7-ed56-4d60-9b55-02667724849d', NULL, CAST(N'2023-06-30T16:46:33.510' AS DateTime), NULL)
INSERT [dbo].[function] ([id], [name], [cloud_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (2, N'Data Processing', N'ea48ddc7-ed56-4d60-9b55-02667724849d', NULL, CAST(N'2023-06-30T16:46:33.510' AS DateTime), NULL)
INSERT [dbo].[function] ([id], [name], [cloud_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (3, N'Data Analysis', N'ea48ddc7-ed56-4d60-9b55-02667724849d', NULL, CAST(N'2023-06-30T16:46:33.510' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[function] OFF
GO
SET IDENTITY_INSERT [dbo].[labels] ON 

INSERT [dbo].[labels] ([id], [name], [cloud_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, N'Bug', N'ea48ddc7-ed56-4d60-9b55-02667724849d', CAST(N'2023-06-30T12:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[labels] ([id], [name], [cloud_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, N'Feature Request', N'ea48ddc7-ed56-4d60-9b55-02667724849d', CAST(N'2023-06-30T13:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[labels] ([id], [name], [cloud_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, N'Enhancement', N'ea48ddc7-ed56-4d60-9b55-02667724849d', CAST(N'2023-06-30T14:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[labels] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

INSERT [dbo].[projects] ([id], [image_avatar], [name], [account_id], [start_date], [budget], [budget_unit], [deadline], [objective_time], [objective_cost], [objective_quality], [cloud_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (1, NULL, N'Project-1', NULL, CAST(N'2022-12-08T18:26:24.250' AS DateTime), 95056, N'dollar', NULL, 297, 8790, 80, N'ea48ddc7-ed56-4d60-9b55-02667724849d', NULL, CAST(N'2023-06-30T18:26:24.250' AS DateTime), NULL)
INSERT [dbo].[projects] ([id], [image_avatar], [name], [account_id], [start_date], [budget], [budget_unit], [deadline], [objective_time], [objective_cost], [objective_quality], [cloud_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (2, NULL, N'Project-2', NULL, CAST(N'2022-12-14T18:26:24.250' AS DateTime), 15602, N'dollar', NULL, 147, 57706, 59, N'ea48ddc7-ed56-4d60-9b55-02667724849d', NULL, CAST(N'2023-06-30T18:26:24.250' AS DateTime), NULL)
INSERT [dbo].[projects] ([id], [image_avatar], [name], [account_id], [start_date], [budget], [budget_unit], [deadline], [objective_time], [objective_cost], [objective_quality], [cloud_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (3, NULL, N'Project-3', NULL, CAST(N'2023-05-04T18:26:24.250' AS DateTime), 37961, N'dollar', NULL, 159, 93700, 56, N'ea48ddc7-ed56-4d60-9b55-02667724849d', NULL, CAST(N'2023-06-30T18:26:24.250' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[schedules] ON 

INSERT [dbo].[schedules] ([id], [project_id], [duration], [cost], [quality], [tasks], [cloud_id], [selected], [since], [account_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (1, 1, 105, 16608, 18, NULL, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 0, CAST(N'2022-07-05T18:37:12.483' AS DateTime), NULL, NULL, CAST(N'2023-06-30T18:37:12.483' AS DateTime), NULL)
INSERT [dbo].[schedules] ([id], [project_id], [duration], [cost], [quality], [tasks], [cloud_id], [selected], [since], [account_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (2, 2, 271, 90377, 50, NULL, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 0, CAST(N'2022-09-01T18:37:12.483' AS DateTime), NULL, NULL, CAST(N'2023-06-30T18:37:12.483' AS DateTime), NULL)
INSERT [dbo].[schedules] ([id], [project_id], [duration], [cost], [quality], [tasks], [cloud_id], [selected], [since], [account_id], [is_delete], [create_datetime], [delete_datetime]) VALUES (3, 3, 150, 99837, 49, NULL, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 0, CAST(N'2022-12-03T18:37:12.483' AS DateTime), NULL, NULL, CAST(N'2023-06-30T18:37:12.483' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[skills] ON 

INSERT [dbo].[skills] ([id], [name], [cloud_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, N'Java', N'ea48ddc7-ed56-4d60-9b55-02667724849d', CAST(N'2023-06-30T12:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[skills] ([id], [name], [cloud_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, N'Python', N'ea48ddc7-ed56-4d60-9b55-02667724849d', CAST(N'2023-06-30T13:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[skills] ([id], [name], [cloud_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, N'JavaScript', N'ea48ddc7-ed56-4d60-9b55-02667724849d', CAST(N'2023-06-30T14:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[skills] OFF
GO
INSERT [dbo].[task_function] ([task_id], [function_id], [require_time], [is_delete], [create_datetime], [delete_datetime]) VALUES (1, 4, 1, NULL, CAST(N'2023-06-30T19:04:43.200' AS DateTime), NULL)
INSERT [dbo].[task_function] ([task_id], [function_id], [require_time], [is_delete], [create_datetime], [delete_datetime]) VALUES (2, 4, 1, NULL, CAST(N'2023-06-30T19:04:43.200' AS DateTime), NULL)
INSERT [dbo].[task_function] ([task_id], [function_id], [require_time], [is_delete], [create_datetime], [delete_datetime]) VALUES (3, 4, 1, NULL, CAST(N'2023-06-30T19:04:43.200' AS DateTime), NULL)
GO
INSERT [dbo].[task_labels] ([task_id], [label_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, 5, CAST(N'2023-06-30T19:00:04.173' AS DateTime), NULL, NULL)
INSERT [dbo].[task_labels] ([task_id], [label_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, 5, CAST(N'2023-06-30T19:00:04.173' AS DateTime), NULL, NULL)
INSERT [dbo].[task_labels] ([task_id], [label_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, 5, CAST(N'2023-06-30T19:00:04.173' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[task_precedences] ([task_id], [precedence_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, 1, CAST(N'2023-06-30T19:30:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[task_precedences] ([task_id], [precedence_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, 1, CAST(N'2023-06-30T19:30:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[task_precedences] ([task_id], [precedence_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, 2, CAST(N'2023-06-30T19:30:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[task_resource] ([task_id], [resource_id], [type], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, 2, N'workforce', CAST(N'2023-06-30T19:08:04.580' AS DateTime), NULL, NULL)
INSERT [dbo].[task_resource] ([task_id], [resource_id], [type], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, 12, N'equipment', CAST(N'2023-06-30T19:08:04.580' AS DateTime), NULL, NULL)
INSERT [dbo].[task_resource] ([task_id], [resource_id], [type], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, 1, N'workforce', CAST(N'2023-06-30T19:08:04.580' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tasks] ON 

INSERT [dbo].[tasks] ([id], [name], [duration], [cloud_id], [project_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, N'Task 1', 5, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 1, CAST(N'2023-06-30T18:56:29.207' AS DateTime), NULL, NULL)
INSERT [dbo].[tasks] ([id], [name], [duration], [cloud_id], [project_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, N'Task 2', 5, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 1, CAST(N'2023-06-30T18:56:29.207' AS DateTime), NULL, NULL)
INSERT [dbo].[tasks] ([id], [name], [duration], [cloud_id], [project_id], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, N'Task 3', 5, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 1, CAST(N'2023-06-30T18:56:29.207' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[tasks] OFF
GO
INSERT [dbo].[tasks_skills_required] ([task_id], [skill_id], [level], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, 3, 5, CAST(N'2023-06-30T19:12:59.653' AS DateTime), NULL, NULL)
INSERT [dbo].[tasks_skills_required] ([task_id], [skill_id], [level], [create_datetime], [is_delete], [delete_datetime]) VALUES (2, 7, 1, CAST(N'2023-06-30T19:12:59.653' AS DateTime), NULL, NULL)
INSERT [dbo].[tasks_skills_required] ([task_id], [skill_id], [level], [create_datetime], [is_delete], [delete_datetime]) VALUES (3, 15, 2, CAST(N'2023-06-30T19:12:59.653' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[workforce] ON 

INSERT [dbo].[workforce] ([id], [account_id], [email], [account_type], [name], [avatar], [display_name], [active], [cloud_id], [unit_salary], [working_effort], [is_delete], [create_datetime], [delete_datetime]) VALUES (1, NULL, N'nguyenvanan@example.com', N'member', N'Nguyen Van An', NULL, N'Nguyen Van An', 1, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 999, 1, NULL, CAST(N'2023-06-30T17:18:31.167' AS DateTime), NULL)
INSERT [dbo].[workforce] ([id], [account_id], [email], [account_type], [name], [avatar], [display_name], [active], [cloud_id], [unit_salary], [working_effort], [is_delete], [create_datetime], [delete_datetime]) VALUES (2, NULL, N'tranthibinh@example.com', N'member', N'Tran Thi Binh', NULL, N'Tran Thi Binh', 1, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 999, 1, NULL, CAST(N'2023-06-30T17:18:31.167' AS DateTime), NULL)
INSERT [dbo].[workforce] ([id], [account_id], [email], [account_type], [name], [avatar], [display_name], [active], [cloud_id], [unit_salary], [working_effort], [is_delete], [create_datetime], [delete_datetime]) VALUES (3, NULL, N'leminhchau@example.com', N'member', N'Le Minh Chau', NULL, N'Le Minh Chau', 1, N'ea48ddc7-ed56-4d60-9b55-02667724849d', 999, 1, NULL, CAST(N'2023-06-30T17:18:31.167' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[workforce] OFF
GO
INSERT [dbo].[workforce_skills] ([workforce_id], [skill_id], [level], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, 1, 1, CAST(N'2023-06-30T17:35:02.833' AS DateTime), NULL, NULL)
INSERT [dbo].[workforce_skills] ([workforce_id], [skill_id], [level], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, 4, 2, CAST(N'2023-06-30T17:35:02.833' AS DateTime), NULL, NULL, N'ea48ddc7-ed56-4d60-9b55-02667724849d')
INSERT [dbo].[workforce_skills] ([workforce_id], [skill_id], [level], [create_datetime], [is_delete], [delete_datetime]) VALUES (1, 7, 3, CAST(N'2023-06-30T17:35:02.833' AS DateTime), NULL, NULL, N'ea48ddc7-ed56-4d60-9b55-02667724849d')
GO
ALTER TABLE [dbo].[account_roles]  WITH CHECK ADD  CONSTRAINT [FK_account_roles_atlassian_token] FOREIGN KEY([token_id])
REFERENCES [dbo].[atlassian_token] ([id])
GO
ALTER TABLE [dbo].[account_roles] CHECK CONSTRAINT [FK_account_roles_atlassian_token]
GO
ALTER TABLE [dbo].[equipments_function]  WITH CHECK ADD  CONSTRAINT [FK_equipments_function_equipments] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipments] ([id])
GO
ALTER TABLE [dbo].[equipments_function] CHECK CONSTRAINT [FK_equipments_function_equipments]
GO
ALTER TABLE [dbo].[equipments_function]  WITH CHECK ADD  CONSTRAINT [FK_equipments_function_function] FOREIGN KEY([function_id])
REFERENCES [dbo].[function] ([id])
GO
ALTER TABLE [dbo].[equipments_function] CHECK CONSTRAINT [FK_equipments_function_function]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK_schedules_projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK_schedules_projects]
GO
ALTER TABLE [dbo].[task_function]  WITH CHECK ADD  CONSTRAINT [FK_task_function_function] FOREIGN KEY([function_id])
REFERENCES [dbo].[function] ([id])
GO
ALTER TABLE [dbo].[task_function] CHECK CONSTRAINT [FK_task_function_function]
GO
ALTER TABLE [dbo].[task_function]  WITH CHECK ADD  CONSTRAINT [FK_task_function_tasks] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[task_function] CHECK CONSTRAINT [FK_task_function_tasks]
GO
ALTER TABLE [dbo].[task_labels]  WITH CHECK ADD  CONSTRAINT [FK_task_labels_labels] FOREIGN KEY([label_id])
REFERENCES [dbo].[labels] ([id])
GO
ALTER TABLE [dbo].[task_labels] CHECK CONSTRAINT [FK_task_labels_labels]
GO
ALTER TABLE [dbo].[task_labels]  WITH CHECK ADD  CONSTRAINT [FK_task_labels_tasks] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[task_labels] CHECK CONSTRAINT [FK_task_labels_tasks]
GO
ALTER TABLE [dbo].[task_precedences]  WITH CHECK ADD  CONSTRAINT [FK_task_precedences_tasks2] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[task_precedences] CHECK CONSTRAINT [FK_task_precedences_tasks2]
GO
ALTER TABLE [dbo].[task_precedences]  WITH CHECK ADD  CONSTRAINT [FK_task_precedences_tasks3] FOREIGN KEY([precedence_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[task_precedences] CHECK CONSTRAINT [FK_task_precedences_tasks3]
GO
ALTER TABLE [dbo].[task_resource]  WITH CHECK ADD  CONSTRAINT [FK_task_resource_equipments] FOREIGN KEY([resource_id])
REFERENCES [dbo].[equipments] ([id])
GO
ALTER TABLE [dbo].[task_resource] CHECK CONSTRAINT [FK_task_resource_equipments]
GO
ALTER TABLE [dbo].[task_resource]  WITH CHECK ADD  CONSTRAINT [FK_task_resource_tasks] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[task_resource] CHECK CONSTRAINT [FK_task_resource_tasks]
GO
ALTER TABLE [dbo].[task_resource]  WITH CHECK ADD  CONSTRAINT [FK_task_resource_workforce] FOREIGN KEY([resource_id])
REFERENCES [dbo].[workforce] ([id])
GO
ALTER TABLE [dbo].[task_resource] CHECK CONSTRAINT [FK_task_resource_workforce]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[projects] ([id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_projects]
GO
ALTER TABLE [dbo].[tasks_skills_required]  WITH CHECK ADD  CONSTRAINT [FK_tasks_skills_skills] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[tasks_skills_required] CHECK CONSTRAINT [FK_tasks_skills_skills]
GO
ALTER TABLE [dbo].[tasks_skills_required]  WITH CHECK ADD  CONSTRAINT [FK_tasks_skills_tasks] FOREIGN KEY([task_id])
REFERENCES [dbo].[tasks] ([id])
GO
ALTER TABLE [dbo].[tasks_skills_required] CHECK CONSTRAINT [FK_tasks_skills_tasks]
GO
ALTER TABLE [dbo].[workforce_skills]  WITH CHECK ADD  CONSTRAINT [FK_workforce_skills_skills] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[workforce_skills] CHECK CONSTRAINT [FK_workforce_skills_skills]
GO
ALTER TABLE [dbo].[workforce_skills]  WITH CHECK ADD  CONSTRAINT [FK_workforce_skills_workforce] FOREIGN KEY([workforce_id])
REFERENCES [dbo].[workforce] ([id])
GO
ALTER TABLE [dbo].[workforce_skills] CHECK CONSTRAINT [FK_workforce_skills_workforce]
GO
USE [master]
GO
