@page
@model ResourceAssignAdmin.Pages.Upgrade.CheckoutModel
@{
}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Upgrade Plan request form</h2>
            <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Transfer Information</span>
                </h4>
                <div class="card" style="width: 18rem;">
                    <img src="https://www.imgonline.com.ua/examples/qr-code-url.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing Information</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email<span class="text-muted">(Optional)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        </div>

                        <div class="col-12">
                            <label for="userToken" class="form-label">User Token</label>
                            <input type="text" class="form-control" id="userToken" placeholder="HFKEIJEIOHJHHFE" required="">
                        </div>

                        <div class="col-12">
                            <label for="transferCode" class="form-label">Transfer Code<span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="transferCode" placeholder="614893">
                        </div>                  
                    </div>

                    <hr class="my-4">

                    <p class="lead"></p>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" id="btnUpgradeCheckout"
                    onclick="mailTo()" type="button">Continue to checkout</button>
                </form>
            </div>
        </div>
    </main>
</div>