@page
@model ResourceAssignAdmin.Pages.Subscription.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <p class="text-danger">@ViewData["errorMsg"]</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Subscription.AtlassianToken.UserToken" class="control-label">User Token</label>
                <input asp-for="Subscription.AtlassianToken.UserToken" class="form-control" />
                <span asp-validation-for="Subscription.AtlassianToken.UserToken" class="text-danger">
                    @ViewData["tokenMsg"]
                </span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Subscription.PlanId" class="control-label">Plan</label>
                <select asp-for="Subscription.PlanId" class ="form-control" asp-items="ViewBag.PlanId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Subscription.CurrentPeriodStart" class="control-label">Start Date</label>
                <input asp-for="Subscription.CurrentPeriodStart" type="datetime" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly class="form-control" />
                <span asp-validation-for="Subscription.CurrentPeriodStart" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Subscription.CurrentPeriodEnd" class="control-label">End Date</label>
                <input asp-for="Subscription.CurrentPeriodEnd" class="form-control" />
                <span asp-validation-for="Subscription.CurrentPeriodEnd"  class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-light">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
